@media (max-width: 768px) {
   

    #system-of-value .flex-items {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    /* SHOCASE */

    .hero .content h1 {
        font-size: 40px;
        font: bold;
    }

    .hero .content p {
        font-size: 20px;
        font: bold;
    }
   

    /* FLEX COLUMNS */

    .flex-columns .row {
        display: grid;
        grid-template-columns: 1fr;
    }

  
}


@media (max-width: 276px) {
  
    #system-of-value .flex-items {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    /* SHOCASE */

    .hero .content h1 {
        font-size: 30px;
        font: bold;
    }

    .hero .content p {
        font-size: 15px;
        font: bold;
    }
   

    /* FLEX COLUMNS */

    .flex-columns .row {
        display: grid;
        grid-template-columns: 1fr;
    }

  
}