body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.hero  {
    background: url(/img/home/showcase1a.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero.o_nama  {
    background: url(/img/cases/cases7.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.hero.contact  {
    background: url(/img/contact.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #fff;
   
}
